.menu {
    width: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.7;
    height: 100%;
}

.menu-item {
    margin-top: 20px;
    position: relative;
    height: 100%;
}

body {
    background-image: url(./img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 800px;
    display: flex;
    max-height: 800px;
}

.close {
    margin-top: 10px;
}

.menu-item img:last-child {
    position: absolute;
    bottom: 15px;
    left: 0;
}

.submenu {
    width: 214px;
    background: #25272A;
    mix-blend-mode: normal;
    opacity: 0.75;
    padding: 35px 24px 0;
}

.profile {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.user-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
}

.user-name img {
    margin-left: 7px;
}

.treads {
    display: flex;
    margin-top: 30px;
}

.treads-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    margin-left: 11px;
}

.channels-head {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;
    margin-bottom: 14px;
}

.channels-item {
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    padding: 8px 0 8px 14px;
}

.channels-item::before {
    content: "#";
}

.channels-item:hover {
    background-color: rgb(255, 255, 255, 0.2);
    color: #FFFFFF;
    border-radius: 5px;
}

.friend {
    display: flex;
    left: 0;
    margin-top: 10px;
    width: 100%;
}

.user-name-friend {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 100%;
    padding-left: 4px;
}

.indicator {
    height: 8px;
    width: 8px;
    background-color: #666666;
    border-radius: 50%;
    margin: 13px 6px 13px 0;
}

.indicator.active {
    background-color: #70CC16;
}

.channels-head.freinds {
    margin-top: 18px;
}

.user-name-friend:hover {
    background-color: rgb(255, 255, 255, 0.2);
    color: #FFFFFF;
    border-radius: 5px;
}



.user-photo {
    width: 200px;
    height: 200px;
    background-image: url(./img/profile-photo.png);
}

.user-information {
    width: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.name-user {
    display: flex;
    padding-top: 15px;
}

.profile-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-right: 8px;
    
}

.container {
    margin-left: 20px;
}

.job {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
    
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin-right: 5px;
}

.primory-btn {
    background-color: #3577EF;
    border: none;
    border-radius: 5px;
    width: 133px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 0;
}

.btn {
    margin-top: 18px;
}

.primory-btn.second {
    width: 26px;
}
.primory-btn.second img {
margin-bottom: 2px;
}

.primory-btn:hover {
    background-color: thistle;
}

.information-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
}

.information-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 5px;
}

.information {
    margin-top: 14px;
}

.header-chat {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.chat-information {
    display: flex;
    align-items: center;

}
.chat {
    width: 800px;
    background-color: #FFFFFF;
    position: relative;
    height: 800px;
}

.name-chat {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-right: 6px;
}

.chat-information img {
    height: 15px;
    width: 15px;
}

.about-chat {
    display: flex;
    align-items: center;
}

input {
    height: 33px;
    background: rgba(0, 0, 0, 0.0001);
    border: none;
    padding-left: 16px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8D8D8D;
    outline: none;
}

.search {
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 7px;
}
.search {
    padding-right: 8px;
}

.count-peaple {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A4A4A4;
    margin-right: 24px;
}

.count-peaple::before {
    content: url(./img/peaple.svg);
    margin-right: 6px;
    
}

.likes {
    margin: 0 23px;
}

.write-message {
    position: absolute;
    bottom: 0;
    padding: 0 23px;
    height: 72px;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    width: 754px;
    display: flex;
    align-items: center;
}

.write-message a:first-child {
    margin-right: 19px;
}

.write-message input {
    margin: 0 20px;
    width: 650px
}