.menu {
    width: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.7;
    height: 100%;
}

.menu-item {
    margin-top: 20px;
    position: relative;
    height: 100%;
}

body {
    background-image: url(./img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 800px;
    display: flex;
    max-height: 800px;
}

.close {
    margin-top: 10px;
}

.menu-item img:last-child {
    position: absolute;
    bottom: 15px;
    left: 0;
}

.submenu {
    width: 214px;
    background: #25272A;
    mix-blend-mode: normal;
    opacity: 0.75;
    padding: 35px 24px 0;
}

.profile {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.user-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
}

.user-name img {
    margin-left: 7px;
}

.treads {
    display: flex;
    margin-top: 30px;
}

.treads-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    margin-left: 11px;
}

.channels-head {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;
    margin-bottom: 14px;
}

.channels-item {
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    padding: 8px 0 8px 14px;
}

.channels-item::before {
    content: "#";
}

.channels-item:hover {
    background-color: rgb(255, 255, 255, 0.2);
    color: #FFFFFF;
    border-radius: 5px;
}