header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    border: 2px solid #393939;
    position: sticky;
    top: 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 30px;
}

.logo {
    padding: 30px;
}

body {
    height: 3000px;   
}