.container {
    width: 77%;
    margin: 0 auto;
    display: flex;

    flex-direction: column;
}

.zero-block {
    background-image: url(./img/bc-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BABBC5;
    width: 100%;
}

.menu {
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 0 25px;
    border-bottom: 2px solid transparent;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
}

.menu:hover {
    border-bottom: 2px solid #BABBC5;
}

nav {
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 38px 0 35px;
}

h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 130px;
    display: flex;
    align-items: center;
    text-align: center;
}

.description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0 80px;
}

button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    margin: 0 auto;    
    text-transform: uppercase;
    color: #FFFFFF;
    width: 370px;
    height: 80px;
    background: #FF4343;
    border: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

button:hover {
    background-color: #E71414;;
}

.bene {
    width: 33%;
    text-align: center;
    padding-top: 100px;
}

.features {
    margin: 16px 0 133px;
    display: flex;
    flex-wrap: wrap;
}

.bene-title {
    margin: 62px 0 44px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.bene-description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #6C7279;
    padding: 0 10px;
}

.photo {
    width: 25%;
    position: relative;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.photo img {
    width: 100%;
    height: 100%;

}

.photo-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border: 2px solid #FFFFFF;
    background-color: rgba(255, 67, 67, 0.8);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 1px;
    height: calc(100% - 2px);
}

.photo-text:hover {
    opacity: 1;
    transition: .3s;
}

.photo-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 128px 0 38px;
}

.photo-description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 126px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.person {
    width: 25%;
    padding-right: 30px;
}

.name {
    margin-top: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2D3033;
}

.work {
    margin-top: 7px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FF4343;
}

.about-person {
    margin-top: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #6C7279;
}

.social-links {
    margin-top: 48px;
}

.personal {
    margin: 114px 0;
}

.group-personal {
    display: flex;
    justify-content: space-between;
}

.top-footer {
    background-color: #353C65;
    display: flex;
    justify-content: space-between;
    padding-bottom: 71px;
}

.bottom-footer {
    background-color: #2C3154;
    padding: 25px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #808080;
}

.bottom-footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.bottom-footer div {
    max-width: 370px;
    margin: 0 auto;
    text-align: center;
}

.footer-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 72px;
}

.top-footer p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 29px;
    
}

.location {
    margin-left: 171px;
    width: 370px;
    text-align: center;
}

.about-information {
    margin-right: 171px;
    width: 370px;
    text-align: center;
}

.footer-social-links {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-top: 49px;
}

.footer-links {
    text-align: center;
}

.picture {
    background-image: url(./img/bg-slider.png);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
}

.slider-item {
    display: flex;
    margin-bottom: 31px;
}

.info-slider {
    background-color: #5C3249;
    max-width: 50%;
}

.info-slider p {
    font-family: 'Cardo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 116px 170px 0 129px;
}

.subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 25px 170px 0 129px;
}

.scroll {
    text-align: center;
}

.dowloand {
    margin: 114px 0;
    text-align: center;
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.dowland-description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    margin: 25px 0 50px;
}